nav{
  height:8vh;
  width:100%;
  background-color:rgb(162, 253, 255);
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
.leftnav{
  width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.rightnav{
  width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo,.Exploree,.home,.about,.contact{
  width: 20%;
  border: 2px solid rgb(69, 54, 160);
  height:100%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: transparent;
  border-radius: 20px;
}
.input{
  width: 80%;
  height: 100%;
  border: 2px solid rgb(69, 54, 160);
  
}